# Django
Django>=5.0,<6.0
django-crispy-forms>=2.1
crispy-bootstrap5>=2024.2

# Database
psycopg2-binary>=2.9

# Authentication
django-allauth>=0.61

# Environment
python-decouple>=3.8

# Image handling
Pillow>=10.2

# Development
django-debug-toolbar>=4.3
