[Unit]
Description=Gunicorn daemon for Vet Clinic
Requires=gunicorn.socket
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/vet_clinic
ExecStart=/var/www/vet_clinic/.venv/bin/gunicorn \
    --config gunicorn.conf.py \
    vet_clinic.wsgi:application

# Environment variables
Environment="DJANGO_ENV=production"
EnvironmentFile=/var/www/vet_clinic/.env

# Restart policy
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
